<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @club.description %>
</p>

<p>
  <strong>City:</strong>
  <%= @club.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @club.address %>
</p>

<%= link_to 'Edit', edit_club_path(@club), class: "btn btn-primary" %> |
<%= link_to 'Back', clubs_path %>
