<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date, class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date, class: "form-control"  %>
  </div>

  <%= form.fields_for :players do |f| %>
    <div class="row mb-3">
      <div class="col-lg-3">
        <%= f.label :user_id, "Player" %>
        <%= f.collection_select(:user_id, User.all, :id, :full_name, { :prompt => 'Select Player'}, { class: 'form-control' }) %>
      </div>
      <div class="col-lg-3">
        <%= f.label :score %>
        <%= f.number_field :score, placeholder: "Enter score", required: true, class: 'form-control' %>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
